
{$HOST}:80 {
  
  tls internal

  handle_path {$BACKEND_PATH}* {
    reverse_proxy scry_backend:8000
  }

  handle_path /* {
    reverse_proxy scry_frontend:3000
  }
}

{$HOST}:443 {
  
  handle_path {$BACKEND_PATH}* {
    reverse_proxy scry_backend:8000
  }

  handle_path /* {
    reverse_proxy scry_frontend:3000
  }
}